<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered">
  <th>
    <div class="field">
      <%= form.label :firstname %>
      <%= form.text_field :firstname , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :lastname %>
      <%= form.text_field :lastname , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :gender %>
      <%= form.text_field :gender , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :DOB %>  
      <%= form.text_field :DOB, :id => "datepicker" , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email , class: "form-control"%>
    </div>
  </th>

  <th>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_area :address , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.number_field :phone , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password , class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :role %>
      <%= form.select 'role', options_for_select(['admin', 'user'], 'user'), { prompt: true }, required: true %>
    </div>
  </th>
</table>
  <div class="actions">
    <%= form.submit %>
  </div>

  <script>
    $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
  </script>
<% end %>

