<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ProductID</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th>Order ID</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product_id %></td>
        <td><%= order.total_price %></td>
        <td><%= order.order_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
