
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.Productname %>  
    	 <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %>
    </p>
    <p> Unit Price: <%= item.product.Price %> $ |
    		Quantity: <%= item.quantity %> | 
    		Total Price: <%= (item.product.Price * item.quantity) %> $
    </p>
<% end %>

  	<p>Your Total: <%= current_order.total_price %> $</p>
<% else %>
  <p>There is no Order in here.
  </p>
<% end %>


<p><%= link_to 'Back to Products', root_path %></p>
