<p id="notice"><%= notice %></p>

<h1>Orders Report</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Order ID</th>
      <th>Creatd Date</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product_id %></td>
        <td><%= order_item.product.Price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.total_price %></td>
        <td><%= order_item.order_id %></td>
        <td><%= order_item.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
