<%= form_with(model: @product, local: true, :html => {multipart: true}) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered">
  <th>
  <div class="field">
    <%= form.label :Brand %>
    <%= form.text_field :Brand , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Model %>
    <%= form.text_field :Model , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :SKU %>
    <%= form.text_field :SKU , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Productname %>
    <%= form.text_field :Productname , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Available_size %>
    <%= form.text_field :Available_size , class: "form-control"%>
  </div>
</th>
<th>
  <div class="field">
    <%= form.label :Available_color %>
    <%= form.text_field :Available_color , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.number_field :Quantity , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Picture %>
    <%= form.text_field :Picture , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Category%>
    <%= form.select :category_id, Category.all.collect {|p| [ p.categoryname, p.id ] }, { :include_blank => "Please select" }  , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Price_in_dollar %>
    <%= form.text_field :Price, class: :text_field, step: :currency , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Select_Picture %>
    <%= form.file_field :image %>
  </div>
</th>
</table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


