 <div class="panel panel-default">
  <div class="panel-heading">
    <p><strong>Brand</strong>
    	<%= @product.Brand %> 
    </p>
  </div>
  <div class="panel-body">
    <p><strong>Product Name</strong>
    	 <%= @product.Productname %>
    </p>

    <p><strong>Description</strong>
    	 <%= @product.Description %>
    </p>

    <p><strong>Price $ =></strong>
    	 <%= @product.Price %>
    </p>

    <p>
      <%= image_tag @product.image_url, :size => '260x260' %>
    </p>
  </div>
   <div class="panel-footer">
    <%= form_for (@order_item) do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
    <p><strong>Quantity</strong>
      <%= f.number_field :quantity , :required => true, :value => 1 %>
    </p>
  
    <%= f.submit "Order This" %>
  </div>
  <% end %></p>
  <%= link_to 'Back to Product', root_path %>
