<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Sku</th>
      <th>Productname</th>
      <th>Description</th>
      <th>Available size</th>
      <th>Available color</th>
      <th>Quantity</th>
      <th>Picture</th>
      <th>Category</th> 
      <th>Price $</th>
    
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    
      <tr>
        <td><%= product.Brand %></td>
        <td><%= product.Model %></td>
        <td><%= product.SKU %></td>
        <td><%= product.Productname %></td>
        <td><%= product.Description %></td>
        <td><%= product.Available_size %></td>
        <td><%= product.Available_color %></td>
        <td><%= product.Quantity %></td>
        <td><%= product.Picture %></td>
        <td><%= product.categoryname %></td>
        <td><%= product.Price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
