<p id="notice"><%= notice %></p>

<h1>Available Products</h1>
  <div class="panel-body">
      <% @products.each do |pr| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= pr.Brand %>
        </div>
        <div class="panel-body">
          <%= image_tag pr.image_url, :size => '260x260' %>
        </div>
        <div class="panel-footer">
          Unit Price $ => <%= pr.Price %> | <%= link_to 'See Details', :action => :detail, :id => pr.id%>
        </div>
      </div>
      <% end %>
  </div>
<br>

