<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @product.Brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.Model %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.SKU %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @product.Productname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.Description %>
</p>

<p>
  <strong>Available size:</strong>
  <%= @product.Available_size %>
</p>

<p>
  <strong>Available color:</strong>
  <%= @product.Available_color %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.Quantity %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.Picture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<p>
  <strong>CategoryID:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Picture</strong>
  <%= image_tag @product.image_url, :size => '260x260' %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
