<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" id="icon"></span>
        <span class="icon-bar" id="icon"></span>
        <span class="icon-bar" id="icon"></span> 
      </button>
    <%= link_to root_path do %>
    <%= image_tag("logo_transparent.png",:size => '120x50', id: "logo") %> 
    <% end %>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign up", signup_path, id: "navbar-li" %></li>
        <li ><%= link_to "View Orders", cart_path, id: "navbar-li" %></li>
        <% if can? :create, User %>
        <li ><%= link_to "Products", products_path, id: "navbar-li" %></li>
        <li><%= link_to "Categories", categories_path, id: "navbar-li" %></li>
        <li><%= link_to "Order report", order_items_path, id: "navbar-li" %></li>
        <% end %>
        <% if logged_in? %>
          <% if can? :create, User %>
            <li><%= link_to "Users", users_path, id: "navbar-li" %></li>
          <% end %>
        <li><%= link_to "Log out", logout_path, method: :delete, id: "navbar-li"  %></li>
        <li><%= link_to "Profile", current_user, id:"navbar-li" %></li>
          
        <% else %>
          <li><%= link_to "Log in", login_path, id: "navbar-li"%></li>
        <% end %>
      </ul>
    </div></nav>
    </nav>
  </div>
</header>
